::ng-deep .p-card {
  margin: 2%;
}
.inline-button {
  display: inline-block; /* oder inline */
  margin-right: 10px;    /* optional, für Abstand zwischen den Buttons */
}

.inline-inputField {
  display: inline-block; /* oder inline */
  margin-right: 10px;    /* optional, für Abstand zwischen den Buttons */
}
