::ng-deep .p-card {
  margin: 2%;
}

/* Allgemeine Flex-Container-Stile */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Abstand zwischen den flex-Items */
}

.flex-item {
  display: flex;
  flex-direction: column;
  flex: 1 1 20%; /* Stellt sicher, dass die Items gleichmäßig verteilt werden */
}

/* Button-Stile */
.button-container {
  display: flex;
  flex-direction: row; /* Buttons nebeneinander */
  gap: 1rem; /* Abstand zwischen den Buttons */
  flex: 1 1 20%; /* Stellt sicher, dass die Buttons den gleichen Platz wie die anderen Items einnehmen */
}

.button-height {
  height: auto; /* Höhe basierend auf dem Text */
  min-height: 2.5rem; /* Mindesthöhe für Buttons */
}
